<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>

    <h1>ポスト一覧</h1>
      <%=link_to "ポストを作成する", new_picture_path, class: 'btn btn-default'%>
      <% @pictures.each do |picture| %>
      <div class="row">
        <h4><strong><%=picture.title %></strong></h4>
        <p><%= image_tag(picture.avatar) %></p>
        <p><%=picture.content %></p>
        <p><%=picture.user.name if picture.user %></p>
        <div class="profile_img">
           <p><%= profile_img(picture.user) if profile_img(picture.user)%></p>
        </div>
        <!-- ピクチャーを　投稿した人じゃなかったら -->
        　　　<%if picture.user.id == current_user.id%>

            <%=link_to "ポストを編集する", edit_picture_path(picture.id), data: {confirm: "本当に編集していいですか？"}, class: 'btn btn-default btn-success'%>
            <%=link_to "ポストを削除する", picture_path(picture.id), method: :delete, data: {confirm: "本当に削除していいですか？"}, class: 'btn btn-default btn-success'%>
          </div>
      <%end%>
      <!-- 　エンド -->
    </div>
  </div>
  <%end%>
<%#=link_to "ブログを作成する", new_picture_path %>

<div id="pictures-page-top-btn" class="pictures-page-top-btn">
    <p><a class="pictures-move-page-top" id="pictures-move-page-top">▲</a></p>
</div>
